name: Validate Pull Request
run-name: >-
    "${{ github.actor }}"κ°€ μ μ¶ν• κ³Όμ λ¥Ό κ²€ν† ν•κ³  μμµλ‹λ‹¤. π€
on:
    pull_request:
        types:
            - opened
            - edited
            - reopened
            - ready_for_review
            - unlocked
            - synchronize
jobs:
    Validate-Pull-Request:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: 1κ°μ νμΌλ§ μμ •λμ—λ”μ§€ κ²€μ‚¬
              uses: JJ/github-pr-contains-action@releases/v11
              with:
                  github-token: "${{ secrets.GITHUB_TOKEN }}"
                  filesChanged: 1
            - name: μ λ© ν•μ‹μ΄ μ¬λ°”λ¥Έμ§€ κ²€μ‚¬
              uses: deepakputhraya/action-pr-title@master
              with:
                  regex: '^\[\d{2}μ£Όμ°¨ [κ°€-ν£]+\] .+'
                  github_token: "${{ secrets.GITHUB_TOKEN }}"
            - name: νμΌμ κ²½λ΅κ°€ μ¬λ°”λ¥Έμ§€ κ²€μ‚¬
              uses: brettcannon/check-for-changed-files@v1
              with:
                  file-pattern: '/[0-9][0-9]μ£Όμ°¨/[κ°€-ν£]+/*'
                  token: "${{ secrets.GITHUB_TOKEN }}"
                  failure-message: >-
                    μ μ¶ν• νμΌμ κ²½λ΅κ°€ μ¬λ°”λ¥΄μ§€ μ•μµλ‹λ‹¤.
                    νμΌμ μ΄ μ¬λ°”λ¥Έ λ””λ ‰ν„°λ¦¬μ— μλ”μ§€ ν™•μΈν•΄μ£Όμ„Έμ”.

                    νμΌλ…: ${file-pattern}
